* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background-color: rgba(26, 27, 38, 0);
    color: #ffffff;
}

#workspaces, #tray, #clock, #pulseaudio, #custom-power {
    background-color: #282828;
    color: #ebdbb2;
    margin: 4px 3px;
    padding: 0 12px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#workspaces button {
    padding: 0 5px;
    color: #928374;
    background-color: transparent;
}

#workspaces button.active {
    color: #fabd2f;
}

#workspaces button.focused {
    background-color: #458588;
    color: #ffffff;
    border-radius: 8px;
}

#clock { color: #83a598; }
#pulseaudio { color: #b8bb26; }
#custom-power { color: #fb4934; }

tooltip {
    background: #282828;
    border: 1px solid #fabd2f;
    border-radius: 10px;
}

tooltip label {
    color: #ebdbb2;
}